<div class="container">
  <br>
  <div class="row">
    <div class="col-md-6">
      <h3>My Account</h3>
      
      <form action="" method="POST" #signupForm="ngForm" (ngSubmit)="onAccountFormSubmit(signupForm)">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" placeholder="Enter Name" class="form-control" [(ngModel)]="user.name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" placeholder="Enter Email" class="form-control" [(ngModel)]="user.email">
        </div>
        <div class="form-group">
          <label for="Phone">Phone</label>
          <input type="text" name="phone" placeholder="Enter Phone" class="form-control" [(ngModel)]="user.phone">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter Password" class="form-control" [(ngModel)]="user.password">
          </div>
          <div class="form-group">
              <label for="address">Address</label>
              <textarea name="address" id="" class="form-control" [(ngModel)]="user.address" ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update Profile</button>
      </form>
    </div>
    <div class="col-md-6">
        <a routerLink="/account/orders" class="float-right btn btn-sm btn-primary">Check My Orders</a>
    </div>
  </div>
</div>