<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/about">About Us <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/news">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/gallary">Gallary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/contact">Contact</a>
        </li>
       
      </ul>
      
      <a  class="text-light btn btn-outline-primary" routerLink="/cart">Cart
        <span class="badge badge-light">{{this.cartSvc.getTotalCount()}}</span>
      </a>
      <a *ngIf="!this.auth.isLoggedIn()" class="text-light btn btn-outline-primary" routerLink="/login">Login</a>
      <a *ngIf="!this.auth.isLoggedIn()" class="text-light btn btn-outline-primary" routerLink="/register">Register</a>
      <a *ngIf="this.auth.isLoggedIn()" class="text-light btn btn-outline-primary" (click)="onLogout()">Logout</a>

    </div>
  </nav>
</header>
<div style="padding-top:55px;"></div>