<div class="container">
  <br>
  <div class="row">
    <div class="col-md-12">
      <h3 *ngIf="loading">Loading....</h3>

      <h3>#{{order.id}} Order Detail</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>Id</td>
            <td>Product</td>
            <td>Unit Price</td>
            <td>Quantity</td>
            <td>Sub Total</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td>{{item.id}}</td>
            <td>{{item.Product.title}}</td>
            <td>{{item.price}}</td>
            <td>{{item.qty}}</td>
            <td>{{item.sub_total}}</td>            
          </tr>
        </tbody>
      </table>
      <a routerLink="/account/orders">Back to List</a>
    </div>
  </div>
</div>