<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Checkout Products</h1>
      <form action="" method="POST" #signupForm="ngForm" (ngSubmit)="onSignupFormSubmit(signupForm)">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" placeholder="Enter Name" class="form-control" [(ngModel)]="user.name">
        </div>
        <!-- <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" placeholder="Enter Email" class="form-control" [(ngModel)]="user.email">
        </div> -->
        <div class="form-group">
          <label for="Phone">Phone</label>
          <input type="text" name="phone" placeholder="Enter Phone" class="form-control" [(ngModel)]="user.phone">
        </div>
        <!-- <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter Password" class="form-control" [(ngModel)]="user.password">
          </div> -->
          <div class="form-group">
              <label for="address">Address</label>
              <textarea name="address" id="" class="form-control" [(ngModel)]="user.address" ></textarea>
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <textarea name="city" id="" class="form-control" [(ngModel)]="user.city" ></textarea>
            </div>            
      </form>
    </div>
    <div class="col-md-4">
        <h3>Order Summary</h3>

        <table class="table table-responsive table-stripped">
          <tbody>
            <tr *ngFor="let item of this.cartSvc.getItems()">
              <td class="cart_product_desc">
                <h6>{{item.title}} x {{item.qty}}</h6>
                
              </td>
              <td class="total_price">
                <span>${{item.qty * item.price}}</span>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>Total (tax incl.)</td>
              <td>${{ this.cartSvc.getTotalAmount() }}</td>
            </tr>
            <tr>
              <td>
                <strong>Total</strong>
              </td>
              <td>
                <strong>${{this.cartSvc.getTotalAmount()}}</strong>
              </td>
            </tr>
          </tfoot>
        </table>
        <hr>
        <h3>Payment Method</h3>
        <label style="display:block;" >
          <input type="radio" name="payment_method" value="1" [(ngModel)]="payment_method">
          Cash On Delivery
        </label>
        <label style="display:block;" for="">
          <input type="radio" name="payment_method" value="2" [(ngModel)]="payment_method">
          Myanmar Payment Union (MPU)
        </label>
       
          <button (click)="onConfirmCheckout()" class="btn btn-lg btn-block btn-success">
            Confirm Checkout
          </button>
        
    </div>
  </div>
</div>